{% extends "blog/base.html" %}

{% block content  %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message.tags }} {{ message }}</strong> .
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="del()" id = "del">
        <span aria-hidden="true">&times;</span>
    </button>
</div>     
{% endfor %}
<div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success fs-4" >{{user.username}}'s profile</div>
    <div class="card-body ">
        <!-- check username-->
        {% if user.username%}
            <p class="card-text">User_name : {{user.username}} </p>
        {% else%}
            <div class="alert alert-warning" role="alert">
                <b>username</b> is not provided by user.
            </div>
        {% endif %}
        <!-- check first name-->
        {% if user.first_name%}
            <p class="card-text">First Name : {{user.first_name}} </p>
        {% else%}
            <div class="alert alert-warning" role="alert">
                <b>Firt name</b> is not provided by user.
            </div>
        {% endif %}
        <!-- check last name-->
        {% if user.last_name%}
            <p class="card-text">Last Name : {{user.last_name}} </p>
        {% else%}
            <div class="alert alert-warning" role="alert">
                <b>Last Name</b> is not provided by user.
            </div>
        {% endif %}
        <!-- check email-->
        {% if user.email%}
            <p class="card-text">Email : {{user.email}} </p>
        {% else%}
            <div class="alert alert-warning" role="alert">
                <b>Email</b> is not provided by user.
            </div>
        {% endif %}
      
    </div>
    <div class="card-footer bg-transparent border-success">
        <a class="btn btn-sm btn-info" href="#">Edit Account</a>
        <a class="btn btn-sm btn-primary" href="{% url 'changepassword' %}">change password</a>
        <a class="btn btn-sm btn-danger" href="{% url 'deleteAccount' user=user.username %}">Delete Account</a>
    </div>
  </div>

  <hr>
  <h3>My Posts</h3>
    {% for post_data in posts %}
        <div class="card">
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="row">
                    <div class="col-md-6">
                        <p>{{post_data.name}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-end">{{post_data.publish_date}}</p>
                    </div>
                </div>
            
                <footer class="blockquote-footer">{{post_data.content | truncatechars_html:20}}</footer>
            </blockquote>
            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-info" href="#">Read More</a>
                <a class="btn btn-sm btn-primary" href="#">Edit</a>
                <a class="btn btn-sm btn-danger" href="#">Delete</a>

            </div>
        </div>

    {% endfor %}

{% endblock content %}