{% extends "blog/base.html" %}
{% load new_filters%}
{% block title %}{{ post.title }}{% endblock %}
{{ csrf_token }}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto mt-3">
            <a class="btn btn-outline-info" href="{% url 'index' %}">
                <i class="bx bx-arrow-back"></i> Go back
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto mt-5 mb-5" style="word-wrap: break-word;">
            <h1>{{ post.title }}</h1>
            <p class="date">
                Published: {{ post.publish }} by {{ post.owner }}
            </p>
            <p class="date">
                Category: {{ post.categories }}
            </p>
            Content: {{ post.content|linebreaks }}
        </div>
        
    </div>
    <div class="col-md-6 mx-auto mt-5 mb-5">
        <div class="mt-5">
            <form method="post" class="form-inline" id = "form">
                {% csrf_token %}
                <input type="text" id="comment_field" class="form-control-lg" placeholder="Type your comment...">
                <!--edit this -->
                {% if user|permission:'add_comment'%}
                    <input type="submit" value="Comment" class="btn mx-3" id = "submit" >
                {% endif %}
            </form>
        </div>
        <div class="mt-5">
            {% if not comments %}
            <h2>No comments yet.</h2>
            {% else %}
            <h3>Comments:</h3>
            <hr>
            {% for comment in comments %}
            <div class="mx-3 my-3 p-3" style="background-color: #efefef;">
                <strong>{{ comment.comment_content }}</strong>
                <p class="user">
                    Created by {{ comment.user }}
                </p>
                <p class="date">
                    {{ comment.publish_data }}
                </p>
                <hr>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#submit').click(function(event){
            event.preventDefault() 
            $.ajax({
                url : "{% url 'detail_post' id %}" , 
                method : 'POST' ,
                data : {'data' : $('#comment_field').val() , 'want' : 'comment'} ,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success : function (res) {console.log(res['message'])} ,
            })
            window.location.reload()
        }) 
        
    </script>
</div>
{% endblock content %}
