{% extends "blog/base.html" %}

{% block content  %}
<div class="container">  
    <div class="card border-dark mb-3 mx-5 mt-4 ">
    <div class="card-header bg-transparent border-dark fs-4" >{{user.username}}'s profile</div>
        <div class="card-body ">
            <!-- check username-->
            {% if user.username%}
                <p class="card-text">User_name : {{user.username}} </p>
            {% else%}
                <div class="alert alert-warning" role="alert">
                    <b>username</b> is not provided by user.
                </div>
            {% endif %}
            <!-- check first name-->
            {% if user.first_name%}
                <p class="card-text">First Name : {{user.first_name}} </p>
            {% else%}
                <div class="alert alert-warning" role="alert">
                    <b>First name</b> is not provided by user.
                </div>
            {% endif %}
            <!-- check last name-->
            {% if user.last_name%}
                <p class="card-text">Last Name : {{user.last_name}} </p>
            {% else%}
                <div class="alert alert-warning" role="alert">
                    <b>Last Name</b> is not provided by user.
                </div>
            {% endif %}
            <!-- check email-->
            {% if user.email%}
                <p class="card-text">Email : {{user.email}} </p>
            {% else%}
                <div class="alert alert-warning" role="alert">
                    <b>Email</b> is not provided by user.
                </div>
            {% endif %}
        
        </div>
        <div class="card-footer bg-transparent border-dark">
            <a class="btn btn-md btn-info ml-4" href="{% url 'edit_profile'%}">Edit Account</a>
            <a class="btn btn-md btn-primary ml-4" href="{% url 'changepassword' %}">change password</a>
            <a class="btn btn-md btn-danger ml-4" href="{% url 'deleteAccount' user=user.username %}">Delete Account</a>
        </div>
    </div>

    <hr>
    <h3 class="mx-5">My Posts</h3>
    <div class="btn-group btn-group-toggle mb-3 mx-5 mt-4" data-toggle="buttons">
        <a class="btn btn-outline-info {% if current_state == 'published' %}active{% endif %}" href="?status=published">
            Published
        </a>
        <a class="btn btn-outline-info {% if current_state == 'draft' %}active{% endif %}" href="?status=draft">
            Drafts
        </a>
    </div>

    <div class="row">
        {% for post_data in posts %}
        <div class="col-md-6 {% if post_data.statue == 'published' %}published{% endif %}">
            <div class="card mx-4 mb-3">
            <div class="card-body mx-3">
                <div class="row">
                <div class="col-md-6">
                    <p>{{ post_data.title }}</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end">{{ post_data.publish_date }}</p>
                </div>
                </div>
                <footer class="blockquote-footer">{{ post_data.content | truncatechars_html:20 }}</footer>
            </div>
            <div class="card-footer">
                <a class="btn btn-md btn-info ml-4" href="{% url 'detail_post' post_data.id %}">Read More</a>
                <a class="btn btn-md btn-primary ml-4" href="{% url 'edit_post' post_data.id %}">Edit Post</a>
                <a class="btn btn-md btn-danger ml-4" href="{% url 'delete_post' post_data.id %}">Delete Post</a>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

    <script>
    // JavaScript to handle switching between Posts and Drafts
    const option1 = document.getElementById('option1');
    const option2 = document.getElementById('option2');
    const posts = document.querySelectorAll('.col-md-6');

    option1.addEventListener('change', () => {
        option2.checked = !option1.checked;
        if (option1.checked) {
        // Show Posts
        posts.forEach(post => {
            if (post.classList.contains('published')) {
            post.style.display = 'none';
            } else {
            post.style.display = '';
            }
        });
        }
    });

    option2.addEventListener('change', () => {
        option1.checked = !option2.checked;
        if (option2.checked) {
        // Show Drafts
        posts.forEach(post => {
            if (post.classList.contains('draft')) {
            post.style.display = '';
            } else {
            post.style.display = 'none';
            }
        });
        }
    });
    </script>
</div>

{% endblock content %}